
    <form action="Search" method="post" class="navbar-form">
        <input type="text" name="searchString" class="form-control"/>
        <button class="btn btn-primary" type="submit">Q</button>
    </form>
