@using ForumDAL
@using ForumDAL.Repositories
@model Forum_Final.ViewModels.UserViewModel
 



<div class="row">
    <div class="col-md-4">
        @Html.Partial("Topics")

    </div>


    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">My Posts</div>
            <div class="panel-body">
             
                <ul>
                    @foreach (var post in Model.posts)
                    {
                       // <li class="list-group-item">@Html("PostPage", "Post") @post.Title</li>
                        <li class="list-group-item">@Html.ActionLink($"{post.Title}", "Index", "Post", new { id = post.PostID }, null)</li>

                    }
                </ul>

                
            </div>
        </div>
    </div>
</div>