@model List<ForumDAL.Models.Topics.MainTopic>
<div class="panel panel-info">
    <div class="panel-heading">Topics</div>
    <div class="panel-body">
        @foreach (var topic in Model)
        {
            <h3>@topic.TopicName</h3>
        }
    </div>
</div>


