
@{
    ViewBag.Title = "Search";
}

    <form action="Search/Search" method="post" class="navbar-form form-inline">
        <input type="text" name="searchString" value="" />
        <button  class="btn btn-primary" type="submit">Q</button>
    </form>